html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
h1{
    background-color: #54b3d6;
    margin-top: 0px;
    border: 2px solid black;
   text-align:center ;
  height: 40px;
}
ul{
    
    list-style: none;
    text-align:center ;
}
a{
   font-size: 100px;
  text-decoration: none;
  transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
}
a:hover{
    cursor: pointer;
    box-shadow: inset 700px 0 0 0 #54b3d6;
    border-radius: 10px;
    color: white;
}


